<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Cookie Clicker</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="myApp">

    <div ng-controller="cookieController" layout="column" layout-xs="column" ng-cloak>
        <div class="heading-cell" layout="column">
            <h2>Cookie Clicker</h2>
        </div>
        <div layout="row" layout-xs="column">
            <div class="cookie-cell" flex="30" flex-xs="100" align="center" layout="column">
                <div>
                    <img id="cookie" src="cookie.png" alt="Cookie" ng-click="incrementCookieCount($event, click_value + cursor_level)">
                    <div id="clone"></div>
                </div>
                <div id="cookie_count">
                    <p>Cookies: {{cookie_count}}</p>
                </div>
            </div>
            <div class="store-cell" flex="45" flex-xs="100">
                <h3>Store</h3>
                <table class="table borderless">
                    <tr>
                        <td>Cursor</td>
                        <td>
                            Level {{cursor_level}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="buyNewCursor(next_cursor_cost)">{{cursor_status}} {{next_cursor_cost}}</md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>Grandma</td>
                        <td>
                            Level {{grandma_level}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="buyNewGrandma(next_grandma_cost)">{{grandma_status}} {{next_grandma_cost}}</md-button>
                        </td>
                    </tr>
                    <tr>
                        <td>Autoclicker</td>
                        <td>
                            Level {{autoclicker_level}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="buyNewAutoclicker(next_autoclicker_cost)">{{autoclicker_status}} {{next_autoclicker_cost}}</md-button>
                        </td>
                    </tr>
                </table>
            </div>
            <div flex="15" flex-xs="100">
            </div>
        </div>


    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="app.js"></script>
</body>

</html>