<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Cookie Clicker</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="myApp">

    <div ng-controller="cookieController" layout="column" layout-xs="column" ng-cloak>
        <div class="heading-cell" layout="column">
            <h1>Cookie Clicker</h1>
        </div>
        <div layout="row" layout-xs="column">
            <div class="cookie-cell" flex="30" flex-xs="100" align="center" layout="column">
                <div>
                    <img id="cookie" src="cookie.png" alt="Cookie" ng-click="incrementCookieCount($event, click_value + cursor_level)">
                    <div id="clone"></div>
                </div>
                <div id="cookie_count">
                    <p>Cookies: {{cookie_count}}</p>
                </div>
            </div>
            <div class="store-cell" flex="45" flex-xs="100">
                <h3>Store</h3>
                <table class="table borderless">
                    <tr>
                        <td><img class="icon" src="cursor.png" alt="Cursor"></td>
                        <td id="cursorText">Cursor</td>
                        <td>
                            Level {{cursor_level}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary buy-button" ng-click="buyNewCursor(next_cursor_cost)" ng-disabled="cannotBuy(next_cursor_cost)">{{cursor_status}} {{next_cursor_cost}} <img class="icon-cookie" src="cookie.png" alt="Cookie"></md-button>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="icon" src="grandma.png" alt="Grandma"></td>
                        <td id="grandmaText">Grandma</td>
                        <td>
                            Level {{grandma_level}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary buy-button" ng-click="buyNewGrandma(next_grandma_cost)" ng-disabled="cannotBuy(next_grandma_cost)">{{grandma_status}} {{next_grandma_cost}} <img class="icon-cookie" src="cookie.png" alt="Cookie"></md-button>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="icon" src="autoclicker.png" alt="Autoclicker"></td>
                        <td id="clickerText">Autoclicker</td>
                        <td>
                            Level {{autoclicker_level}}
                        </td>
                        <td>
                            <md-button class="md-raised md-primary buy-button" ng-click="buyNewAutoclicker(next_autoclicker_cost)" ng-disabled="cannotBuy(next_autoclicker_cost)">{{autoclicker_status}} {{next_autoclicker_cost}} <img class="icon-cookie" src="cookie.png" alt="Cookie"></md-button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="store-cell" flex="25" flex-xs="100" layout="column">
                <h3>Stats</h3>
                <table class="table borderless">
                    <tr>
                        <td>Cookies clicked so far:</td>
                        <td>{{cookies_clicked}}</td>
                    </tr>
                    <tr>
                        <td>% Cursor:</td>
                        <td>{{formatDecimal(cookies_self_clicked, cookies_clicked)}}</td>
                    </tr>
                    <tr>
                        <td>% Grandma:</td>
                        <td>{{formatDecimal(cookies_baked, cookies_clicked)}}</td>
                    </tr>
                    <tr>
                        <td>% Autoclicker:</td>
                        <td>{{formatDecimal(cookies_autoclicked, cookies_clicked)}}</td>
                    </tr>
                </table>
                <h3>Achievements</h3>
                <table id="achievementsTable" class="table borderless">
                    <tr>
                        <td id = "a1">You are on your way to unlock an achievement! Keep playing!</td>
                    </tr>
                    <tr>
                        <td id = "a2">You are on your way to unlock an achievement! Keep playing!</td>
                    </tr>
                    <tr>
                        <td id = "a3">You are on your way to unlock an achievement! Keep playing!</td>
                    </tr>
                    <tr>
                        <td id = "a4">You are on your way to unlock an achievement! Keep playing!s</td>
                    </tr>
                    <tr>
                        <td id = "a5">You are on your way to unlock an achievement! Keep playing!</td>
                    </tr>
                    <tr>
                        <td id = "a6">You are on your way to unlock an achievement! Keep playing!</td>
                    </tr>
                    <tr>
                        <td id = "a7">You are on your way to unlock an achievement! Keep playing!</td>
                    </tr>
                </table>
            </div>
            <div id="status" class="achievement"><span class="title">Achievement unlocked</span><br/><span id="text">Some text</span></div>
        </div>


    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="app.js"></script>
</body>

</html>